name: Unit Tests
on:
  push:
  workflow_dispatch:

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js 24.11.0
        uses: actions/setup-node@v4
        with:
          node-version: "24.11.0"
          cache: "npm" # Cachea node_modules usando package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build TypeScript
        run: npx tsc
